.image{
  z-index: -999;
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

}
.overlay{
  z-index: -99;
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.gradient{
    background-image: linear-gradient(to top, color(var(--colorNeutralLight) a(0.9)), color(var(--colorNeutralDark) a(0.5)));
}
.secondary{
  background-color: color(var(--colorSecondary) a(0.5))
}
.primary{
  background-color: color(var(--colorPrimary) a(0.5))

}
.dark{
  background-color: color(var(--colorNeutralDark) a(0.6))
}
.light{
  background-color: color(var(--colorNeutralLight) a(0.5))
}
