.image{
  display:  flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.overlay{
  display:  flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.gradient{
    background-image: linear-gradient(to top, color(var(--colorNeutralLight) a(0.9)), color(var(--colorNeutralDark) a(0.5)));
}
.secondary{
  background-color: color(var(--colorSecondary) a(0.5))
}
.primary{
  background-color: color(var(--colorPrimary) a(0.5))

}
.dark{
  background-color: color(var(--colorNeutralDark) a(0.6))
}
.light{
  background-color: color(var(--colorNeutralLight) a(0.5))
}
