.wrapper, .rowWrapper{
  display: flex;
  width: 100%;
  padding: .7rem;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.wrapper{
  flex-flow: column nowrap;

}
.rowWrapper{
  flex-flow: row nowrap;
  align-self: flex-start;
  justify-content: space-between;
  max-width: 90%;


}
.label{
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-family: "Poppins", sans-serif;
}
.radioLabel{

}
.checkboxLabel{
  font-size: 1rem;

}

.textInput, .textArea {
  outline: 0;
  width: 90%;
  padding: .5rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: inherit;
  color: var(--colorPrimary);
  border: 1px solid var(--colorPrimary);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:focus{
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

.textInput{
}
.textArea{
  resize: none;
  line-height: 1.4rem;
}
.radio{

}
.checkbox{

}
