
.background{
}
.cta{
  z-index: 99;
  margin: auto;
  margin-top: calc(var(--headerHeight) + 1rem);
  margin-bottom: 5rem;
  max-width: 60rem;
  display:  flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  height: auto;
  background-size: cover;
  background-position: fixed;
  color: var(--colorNeutralLight);

  @media (min-width: 420px){
    margin-top: calc(var(--headerHeight) + 5rem);
  }
}

.headline{
  font-size: 3rem;
  line-height: 3rem;
  @media (min-width: 420px) and (max-width: 848px){
    font-size: 3.5rem;
  }
  @media (min-width: 849px){
    font-size: 4.5rem;
  }

}
.tagline{
  font-size: 1.2rem;
  line-height:  1.8rem;
  max-width: 40rem;

  @media (min-width: 420px) and (max-width: 848px){
    font-size: 1.4rem;
  }
  @media (min-width: 849px){
    font-size: 1.5rem;
  }


}
.splitTitle{
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: var(--colorSecondary);
}

.split{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
.subheading1{
  display:  flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 100%;
  padding: 0 1rem;
  line-height: 2rem;
  width: 8rem;

  @media (min-width: 420px){
    width: 12rem;
    margin: 0 2rem;
  }
}

.subheading2{
  display:  flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height:  100%;
  padding: 0 1rem;
  line-height: 2rem;
  width: 8rem;

  @media (min-width: 420px){
    width: 12rem;
    margin: 0 2rem;
  }
}

.h3{
  padding-top: 0px;
  margin-top: 0px;
}

.button{
  &:hover{
    text-decoration: none;
  }
}
