
.wrapper{
  width: 100%;
  height: auto;
  background-color: color(var(--colorNeutralLight));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  transition: 0.3s ease-in;
  &:hover{
    background-color: var(--colorNeutralLight);
  }
  @media screen and (min-width:  848px){
      height: var(--headerHeight)
  }
}

.header{
  margin: auto;
  max-width: var(--maxWidth);
  height: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex-shrink: 10;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media screen and (min-width:  848px){
      justify-content: space-between;
      height: var(--headerHeight)
  }
}

.navWrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width:848px){
      width: auto;
      height:  6.5rem;
  }
}

.logo{
  margin: auto;
}
