
.wrapper{
  height:auto;
  background-color: color(var(--colorNeutralLight));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  transition: 0.3s ease-in;

  &:hover{
    background-color: var(--colorNeutralLight);
  }

}

.header{
  margin: auto;
  max-width: var(--maxWidth);
  padding: 0 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  @media screen and (min-width:  848px){
      justify-content: space-between;
      height: var(--headerHeight);
  }
}

.nav{
  @media (--md){
      width: auto;
      height:  6.5rem;
  }
}

.logo{

}
