.wrapper{
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  align-self: center;
  position: relative;
}
.content{
  border-radius: 2px;
  background-color: color(var(--colorNeutralLight) a(.9));
  padding: 7%;
  text-align: center;
}
.content-center{
  border-radius: 2px;
  background-color: color(var(--colorNeutralLight) a(.9));
  padding: 7%;
  align-self: center;
}
.sidebar{
  visibility: collapse;
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  border-radius: 2px;
  background-color: color(var(--colorPrimary) a(0.8));
  width: 100%;
  list-style: none;
  color: var(--colorNeutralLight);
  max-width: 155px;

  left: 0;
  @media (min-width: 420px){
    visibility: visible;
  }
}
.sidebarItem{
  width:  100%;
  &:hover{
    background-color: var(--colorNeutralLight);
    color: var(--colorPrimary);
    cursor: pointer;
    border: 0 0 1px  1px solid var(--colorPrimary);
  }

}
.sidebarLink{
  text-decoration: none;
  padding: 1rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
  &:hover{
    text-decoration: none;
  }

}
.active{
  text-decoration: underline;
}

.left{
  text-align: center;
  @media (min-width: 420px){
    margin-left: 160px;
    margin-right: 5px;
    text-align: left;
  }
}
.right{
  text-align: center;
  @media (min-width: 420px){
    margin-left: 5px;
    margin-right: 160px;
    text-align: left;
  }
}
.center{
  @media (min-width: 420px){
    margin:auto;
    text-align: left;
  }
}
