.wrapper{
  background-color: color(var(--colorNeutralLight) a(0.9));
  padding: 1rem;
  min-width: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: var(--colorNeutralDark);
  @media (--sm){
    min-width: 400px;
  }
}

.footer{
  text-align: center;
  margin: auto;
  height: 100%;
  width:  100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-bewteen;
}

.left{
  text-align: justify;
  order: 0;
}

.center{
  text-align: justify;
  order: 1;
}
.right{
  text-align: justify;
  order: 0;
}

.address{
  font-size: 1rem;
  margin: 0;
  line-height: 1.4rem;
}
