.wrapper{
  background-color: color(var(--colorNeutralDark) a(0.9));
  min-width: 320px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.footer{
  color: var(--colorNeutralLight);
  text-align: center;
  margin: auto;
  height: 100%;
  width:  100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-bewteen;
}

.left{
  text-align: justify;
  order: 0;
}

.center{
  text-align: justify;
  order: 1;
}
.right{
  text-align: justify;
  order: 0;
}

.address{
  font-size: 1rem;
  margin: 0;
  line-height: 1.4rem;
}
